body{
margin:0 auto;
background: ;
color: black;
	font-family: 'Corbel';}

h1{
	text-align: center;
	margin: 0 auto;
	color: white;
	text-shadow: 0 0 5px rgba(0,0,0,0.5);
}
p{
	font-size: 16px;
	margin-left: 25px;
	margin-right:  25px;
}
hr{
	width: 70%;
	height: 1px;
	background: black;

}
#title{
	height: 50px;
padding-top: 10px;
	background: #ff8936;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
#content{
background: white;
}